.form-header {
  width: 100%;
  text-align: center;
  padding: .4rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-avatar-container {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: .2rem solid #525252;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-avatar-container:hover {
  background: #525252;
  transition: .3s;
  cursor: pointer;
}

.form-avatar-container img {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.avatar-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-modal-container img {
  width: 350px;
}

.field-options-container {
  padding: .5rem .5rem .5rem 0;
  box-sizing: border-box;
}

.contact-slots {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact-slots li {
  padding: .3rem 0;
  box-sizing: border-box;
  margin: .2rem 0;
}

.contact-dates {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#controls-align {
  text-align: right;
}

#contact-options {
  padding: .5rem 0;
  box-sizing: border-box;
}
