#app-header {
  background: #1b1b1b;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: .5em 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

#app-header li {
  display: inline-block;
  color: #ffffff;
  margin: 0 .3rem;
  font-size: 12pt;
}

#app-header li:hover {
  color: #dedede;
  cursor: pointer;
}

#app-header form {
  max-width: 300px;
  display: inline-block;
}

.notification-header {
  background: #faebc3;
  padding: 1em .5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.notification-icon-container {
  margin: 0 .5rem;
  display: inline-block;
}

.content-divider {
  display: inline-block;
}

.content-divider button {
  background: none;
  border: none;
  color: #8b8b8b;
}

.content-divider button:hover {
  color: #1b1b1b;
  cursor: pointer;
}
